.header,
.header .ned {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 5;
  
  
}
.header ul a,
.header .ned ul a {
  display: inline-block;
  padding: 20px;
  color: rgb(170, 197, 197);
  border-radius: 30px;
}
.header ul ,
.header .ned ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header ul a:hover,
.header .ned ul a:hover {
  background-color: #03242eea;
  font-size: large;
  font-weight: bold;
  color: white;
  
}
.header ul button:hover,
.header .ned ul button:hover {
  background-color: #03242eea;
  font-size: large;
  font-weight: bold;
  color: white;
  
}
.header .logo,
.header .ned .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  color: white;
}
.header .menu,
.header .ned .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.header .menuline,
.header .ned .menuline {
  padding: 28px 35px;
  position: relative;
  float: right;
  cursor: pointer;
}
.header .menuline .navline,
.header .ned .menuline .navline {
  background: blue;
  display: block;
  height: 2px;
  width: 30px;
  position: relative;
  transition: background 0.2s ease-out;
}
.header .menuline .navline:before,
.header .ned .menuline .navline:before {
  background: white;
  content: "";
  display: block;
  height: 100%;
  width: 70%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menuline .navline:after,
.header .ned .menuline .navline:after {
  background: pink;
  content: "";
  display: block;
  height: 100%;
  width: 80%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menubtn,
.header .ned .menubtn {
  display: none;
}
.header .ned button {
    background-color: #5e98aa;
    padding: 15px 35px;
    border: 1px solid #5e98aa;
    border-radius: 25px;
    color:rgb(170, 197, 197) ;
    font-size: 16px;
  }
  
.header .menubtn:checked ~ .menu,
.header .ned .menubtn:checked ~ .menu {
  min-height: 100vh;
  text-align: center;
}
.header .menubtn:checked ~ .menuline .navline,
.header .ned .menubtn:checked ~ .menuline .navline {
  background: transparent;
}

.header .menubtn:checked ~ .menuline .navline:before,
.header .ned .menubtn:checked ~ .menuline .navline:before {
  transform: rotate(-45deg);
  top: 0%;
}
.header .menubtn:checked ~ .menuline .navline:after,
.header .ned .menubtn:checked ~ .menuline .navline:after {
  transform: rotate(45deg);
  top: 0%;
}


@media (min-width:768px) {
  .header  {
    width: 100%;
    
  }

 .header .ned {
    width: 100%;
    margin: auto;
  }
  .header .ned button {
    background-color: white;
    padding: 5px 25px;
    border: 1px solid #5e98aa;
    border-radius: 5px;
  }
  }
@media (min-width:1024px) {
  .header ul a,
.header .ned ul a {
  
 
  color:black;
  
}

  .ned {
    width: 100%;
    margin: auto;
  }
  .header .ned button {
    background-color: white;
    padding: 5px 25px;
    border: 1px solid #5e98aa;
    border-radius: 5px;
    color: black;
  }

  .header .ned {
    background-color: white;
  }
  .header .ned li  {
    float: left;
  }
  .header li a {
    padding: 20px 25px;
  }
  
  .header .ned .menu {
    clear: none;
    float: right;
    max-height: none;
  }
 
  .header .ned .menuline {
    display: none;
  }
  
  .header .logo,
.header .ned .logo {
  color: black;
  
}
.header ul a:hover,
.header .ned ul a:hover {
  background-color: #87b3c0;
  font-size: large;
  font-weight: bold;
  color: white;
  
}
  
  }

